<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
</head>
<body>
<div th:insert="./headercom :: header"></div>
<h3 style="color:green"  th:text=" #{loda.value.listtoday} + ':  ' + ${today}"></h3>
<h3 style="color:green"  th:text=" #{loda.value.performance} +':  ' + ${per} +'%'"></h3>
<form th:action="@{/manager}" method="post">
    <table style="border: 1px solid black">
        <tr class="color:red">
            <td th:text="#{loda.value.action}"></td>
            <td th:text="#{loda.value.inputTitle}"></td>
            <td th:text="#{loda.value.description}"></td>
            <td th:text="#{loda.value.inputtime}"></td>
            <td th:text="#{loda.value.status}"></td>
        </tr>
        <tr th:each="work : ${listWork}">
            <td><input type="checkbox" name="action" th:value="${work.id}"></td>
            <td><span th:text="${work.title}"></span></td>
            <td><input type="text" name="description" th:value="${work.description}"/></td>
            <td><span th:text="${work.time}" ></span></td>
            <td><input type="checkbox" name="status" th:value="${work.id}" th:checked="${work.status == 1 ? true : false}"></td>
        </tr>
    </table>
    <br>
    <div>
        <button type="submit" name="deleteWork" th:text="'-----' + #{loda.value.delete} + '-----'"></button>
        <button type="submit" name="updateWork" th:text="'-----' + #{loda.value.update} + '-----'"></button>
    </div>

</form>
</body>
</html>