<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Statistic</title>
    <!--css-->
    <link th:href="@{/css/home.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="./headercom :: header"></div>
<br>
    <h3>Statistic</h3>
    <form th:action="@{/statistic}" method="post">
        Select <select name="month" id="month">
        <option th:each="i : ${month}" th:value="*{i}" th:text="*{i}" th:selected="(*{i} == ${getMonth})"></option>
    </select>
        <button type="submit" name="select">--SELECT--</button>


    <br>
    <div class="content">
        <div class="left">
            <div>
                <h3 style="color:green"  th:text=" 'amount of work completed:  ' + ${completed}"></h3>
                <button type="submit" name="completed">--SHOW--</button>
            </div>
            <div>
                <h3 style="color:green"  th:text=" 'amount of unfinished work:  ' + ${unfinished}"></h3>
                <button type="submit" name="unfinished">--SHOW--</button>
            </div>
        </div>
        <div class="right">
            <table th:if="${listWork != null}" style="border: 1px solid black">
                <caption>---------- STATISTIC TABLE ----------</caption>
                <tr>
                    <td>Date Time</td>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Time</td>
                </tr>
                <tr th:each="work : ${listWork}">
                    <td><span th:text="${work.datetime}"></span></td>
                    <td><span th:text="${work.title}"></span></td>
                    <td><span th:text="${work.description}"></span></td>
                    <td><span th:text="${work.time}" ></span></td>
                </tr>
            </table>
        </div>
    </div>
    </form>

</body>
</html>